.firstSection__carouselContainer {
    height: 26vw;
    width: 47.3vw;
    min-height: 130px;
    min-width: 250px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.77);
}

.firstSection__carouselImg {
    padding-bottom: 5px;
    height: 26vw;
    width: 47.3vw;
    min-height: 130px;
    min-width: 250px;
    border: none;
    border-radius: 10px;
    opacity: 0.85;
}
