.scrollableElement {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-self: start;
    width: 76%;
    z-index: 1;
    border-radius: 10px;
    margin: 2.5vw;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    height: auto;
}

.box {
    background: transparent;
    color: #dcdbe1;
    height: auto;
    width: auto;
    padding: 15px;
    place-content: center;
    border: none;
    border-radius: 20px;
    transition: background-color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: scale(1.027);
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.29);
}

.productCard__imgContainer {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.productCard__imgContainer img{
    align-self: center;
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, 0.45);
    width: 100%;
    aspect-ratio: 1 / 1;

}

.productCard__nameContainer p,
.productCard__massContainer p,
.productCard__priceContainer p {
    text-align: left;
    margin: 0 0 0 2%;
}

.productCard__nameContainer {
    font-family: "Raleway", sans-serif;
    font-weight: 475;
    font-size: 100%;
}

.productCard__massContainer {
    color: #adadad;
    font-weight: 500;
    font-size: 90%;
}

.productCard__priceContainer {
    margin-top: 10%;
    font-weight: 500;
}

.productCard__buttonContainer {
    display: block;
    margin-top: 1em;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.productCard__addBtn {
    background: rgba(0, 0, 0, 0.24);
    color: #d2d2d2;
    font-family: "Raleway", sans-serif;
    border: 1px solid black;
    border-radius: 25px;
    width: 99.7%;
    height: 2em;
    font-size: 100%;
    cursor: pointer;
}

.productCard__buttonContainer button p {
    padding: 0;
    margin: 0;
    text-align: center;
}

.productCard__plusBtn,
.productCard__minusBtn {
    background: transparent;
    display: inline-block;
    color: #dcdbe1;
    font-family: "Raleway", sans-serif;
    border: none;
    border-radius: 7px;
    margin: 0 7px;
    width: 28px;
    padding: 0 0 3px;
    font-size: 20px;
    transition: background 0.4s;
}

.productCard__minusBtn {
    font-weight: 550;
}

.productCard__plusBtn:hover,
.productCard__minusBtn:hover {
    background: rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

@media (max-width: 600px) {
    .scrollableElement {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }

    .box {
        padding: 2vw;
    }

    .productCard__addBtn {
        font-size: 100%;
    }
}
