.firstSection__advantagesCardContainer {
    margin: 15px 10px;
    height: 85px;
    width: 500px;
    color: #d2d2d2;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.34);
    display: grid;
    grid-template-columns: 80px 350px;
    grid-column-gap: 25px;

}

.advantagesCard__iconContainer {
    place-content: center;
    text-align: center;
    padding-left: 13px;
    padding-bottom: 0;
}

.advantagesCard__textContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}