.firstSection__carouselContainer {
    align-self: end;
    height: 26vw;
    width: 47.27vw;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.77);
}

.firstSection__carouselImg {
    padding-bottom: 5px;
    height: 26vw;
    width: 47.3vw;
    border: none;
    border-radius: 10px;
    opacity: 0.85;
}
