:root {
    --first-bg: linear-gradient(180deg, rgb(225, 188, 188), rgb(229, 194, 226), rgb(208, 201, 224));
    --second-bg: linear-gradient(180deg,  rgb(208, 201, 224), rgb(203, 201, 229), rgb(197, 224, 219));
    --third-bg: linear-gradient(180deg, rgb(197, 224, 219), rgb(200, 229, 202), rgb(220, 213, 191));
}


body {
    font-family: "Raleway", sans-serif;
}


#about-page1 .fp-overflow {
    display: flex;
    padding-top: 90px;
    height: 100%;
    background-image: var(--first-bg);
}

#about-page2 .fp-overflow {
    display: flex;
    padding-top: 90px;
    height: 100%;
    background-image: var(--second-bg);
}

#about-page3 .fp-overflow {
    display: flex;
    padding-top: 90px;
    height: 100%;
    background-image: var(--third-bg);
}

#about-page4 .fp-overflow {
    background-image: linear-gradient(180deg, rgb(220, 213, 191), rgb(224, 215, 199));
}


#main-page1 .fp-overflow{
    display: flex;
    place-content: center;
    padding: 105px 15px;
    height: 90%;
    background-image: var(--first-bg);
}

#main-page2 .fp-overflow {
    display: flex;
    place-content: center;
    padding: 105px 15px;
    height: 90%;
    background-image: var(--second-bg);
}

.fp-section:nth-child(3){
    background-image: linear-gradient(180deg, rgb(197, 224, 219), rgba(194, 222, 196, 0.88));
    border-top: 1px solid rgba(0, 0, 0, 0.7);
}


.ant-drawer-body {
    background-image: linear-gradient(180deg, rgba(217, 211, 227, 0.95), rgba(225, 205, 220, 0.95), rgba(225, 206, 206, 0.95));
}

.ant-drawer-header {
    background-image: linear-gradient(180deg, rgba(191, 195, 217, 0.74), rgba(217, 211, 227, 0.95));
}

.ant-drawer-content {
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.ant-collapse-content-box {
    background-color: #d9d1e0;
}

.fp-watermark {
    display: none;
}


::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.ant-btn {
    display: none;
}

.modalCart .ant-modal-content {
    background-color: rgba(255, 255, 255, 0.38);
    padding: 10px;
    height: 550px;
    border-radius: 10px;
}


.ant-notification-notice-message {
    font-weight: bold;
}

.ant-notification-notice-description {
    font-weight: 550;
}

.custom-notification {
    background-color: rgba(225, 223, 227, 0.57);
    border-radius: 9px;
    font-family: "Raleway", sans-serif;
}

