:root {
    --first-bg: linear-gradient(180deg, rgb(225, 188, 188), rgb(229, 194, 226), rgb(208, 201, 224));
    --second-bg: linear-gradient(180deg,  rgb(208, 201, 224), rgb(203, 201, 229), rgb(197, 224, 219));
    --third-bg: linear-gradient(180deg, rgb(197, 224, 219), rgb(200, 229, 202), rgb(220, 213, 191));
}


body {
    font-family: "Raleway", sans-serif;
}


#about-page1 .fp-overflow {
    display: flex;
    padding-top: 90px;
    height: 100%;
    background-image: var(--first-bg);
}

#about-page2 .fp-overflow {
    display: flex;
    padding-top: 90px;
    height: 100%;
    background-image: var(--second-bg);
}

#about-page3 .fp-overflow {
    display: flex;
    padding-top: 90px;
    height: 100%;
    background-image: var(--third-bg);
}

#about-page4 .fp-overflow {
    background-image: linear-gradient(180deg, rgb(220, 213, 191), rgb(224, 215, 199));
}


#main-page1 .fp-overflow{
    display: flex;
    place-content: center;
    padding: 105px 15px;
    height: 90%;
    background-image: var(--first-bg);
}

#main-page2 .fp-overflow {
    display: flex;
    place-content: center;
    padding: 105px 15px;
    height: 90%;
    background-image: var(--second-bg);
}

#main-page3 .fp-overflow {
    background-image: linear-gradient(180deg, rgb(197, 224, 219), rgba(194, 222, 196, 0.88));
    border-top: 1px solid rgba(0, 0, 0, 0.7);
}

.ant-drawer-header {
    background-color: rgba(0, 0, 0, 0.92);
    color: #e1e1e1;
    font-family: "Raleway", sans-serif;
    svg {
        color: #e1e1e1;
        padding: 4px;
        border-radius: 3px;
        transition: background-color .2s;
    }
    svg:hover {
        background-color: rgba(255, 255, 255, 0.17);
    }
}

.ant-drawer-body {
    background-color: #313036;
}

.ant-drawer-content {
    border-bottom-left-radius: 7px;
}

.ant-collapse-header {
    color: rgba(255, 255, 255, 0.9) !important;
}

.ant-collapse-content-box {
    background-color: #38373f;
    color: rgba(255, 255, 255, 0.9);
}

.fp-watermark {
    display: none;
}


::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.ant-btn {
    display: none;
}

.modalCart .ant-modal-content {
    background-color: rgba(255, 255, 255, 0.38);
    padding: 10px;
    height: 550px;
    border-radius: 10px;
}


.ant-notification-notice-message {
    font-weight: bold;
    color: white !important;
}

.ant-notification-notice-description {
    font-weight: 550;
    color: white !important;
}

.ant-notification-notice-close {
    svg {
        color: white !important;
    }
}

.custom-notification {
    background-color: rgb(45, 45, 45);
    border-radius: 7px;
    font-family: "Raleway", sans-serif;
}

